@page "/test-errors"
@using Frontend.Entities
@using Frontend.Networking
@using Frontend.Model
@using System.Collections.Generic
@using Frontend.Util
@inject ITestErrorModel TestErrorModel
@inherits TestErrorTableBase

<TestErrorTableFilter OnNewFilter="@UpdateFilters"/>

<h3>Test Error Table</h3>

@if (TestErrors?.PossibleErrorCodes?.Any() == true)
{
    <RadzenDataGrid ColumnWidth="150px" Data="@TestErrors.DataLines" TItem="GetTestErrorsWithFilterSingleLine" PageSize="50" PagerHorizontalAlign="HorizontalAlign.Left" AllowPaging="true" PagerPosition="PagerPosition.TopAndBottom" AllowSorting="true" Sort="@OnSort">
        <Columns>
            <RadzenDataGridColumn TItem="GetTestErrorsWithFilterSingleLine" Title="Time Interval" Visible=@ShouldShowColumn("Time Interval") SortOrder="@TimeIntervalSortingOrder">
                <HeaderTemplate>
                    <div title="The Time Interval For Tests">Time Interval</div>
                </HeaderTemplate>
                <Template>
                    @FormatTimeInterval(context.StartIntervalAsDate, context.EndIntervalAsDate, SelectedTimeIntervalBaseTable)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetTestErrorsWithFilterSingleLine" Property="TotalErrors" Title="Total Error Codes" Visible=@ShouldShowColumn("Total Tests Failed")>
                <HeaderTemplate>
                    <div title="The Total Actuator Tests Failed">Total Tests Failed</div>
                </HeaderTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetTestErrorsWithFilterSingleLine" Property="TotalTests" Title="Total Tests" Visible=@ShouldShowColumn("Total Tests")>
                <HeaderTemplate>
                    <div title="The Total Actuators Tested">Total Tests</div>
                </HeaderTemplate>
            </RadzenDataGridColumn>
        @foreach (var errorCode in TestErrors.PossibleErrorCodes)
        {
            AddColumnToSortingOrderDictionary(errorCode.ErrorCode);
            <RadzenDataGridColumn TItem="GetTestErrorsWithFilterSingleLine" SortOrder="@ErrorColumnsSortingOrder[errorCode.ErrorCode]" Title="@($"Error {errorCode.ErrorCode}")" Visible="@ShouldShowColumn("Error Code")">
                <HeaderTemplate>
                     <div title="@errorCode.ErrorMessage">@($"Error {errorCode.ErrorCode}")</div>
                </HeaderTemplate>
                <Template>
                    <div class="hover-highlight" @onclick="@(() => ShowErrorDetails(context, errorCode.ErrorCode))">
                        @GetItemErrorCount(context, errorCode)
                    </div>
                </Template>
            </RadzenDataGridColumn>
        }
        </Columns>
    </RadzenDataGrid>
}
else
{
    <div>No data available.</div>
}