@page "/test-errors"
@using Frontend.Entities
@using Frontend.Networking
@using Frontend.Model
@using System.Collections.Generic
@using Frontend.Util
@inject ITestErrorModel TestErrorModel
@inherits TestErrorTableBase

<TestErrorTableFilter OnNewFilter="@UpdateFilters"/>

<h3>Test Error Table</h3>

@if (TestErrors?.PossibleErrorCodes?.Any() == true)
{
    <RadzenDataGrid ColumnWidth="150px" Data="@TestErrors.DataLines" TItem="GetTestErrorsWithFilterSingleLine" PageSize="50" PagerHorizontalAlign="HorizontalAlign.Left" AllowPaging="true" PagerPosition="PagerPosition.TopAndBottom" AllowSorting="true" Sort="@OnSort">
        <Columns>
            <RadzenDataGridColumn TItem="GetTestErrorsWithFilterSingleLine" Frozen="true" Title="Time Interval" Visible=@ShouldShowColumn("Time Interval") SortOrder="@TimeIntervalSortingOrder">
                <Template>
                    @FormatTimeInterval(context.StartIntervalAsDate, context.EndIntervalAsDate, SelectedTimeIntervalBaseTable)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetTestErrorsWithFilterSingleLine" Frozen="true" Property="TotalErrors" Title="Total Error Codes" Visible=@ShouldShowColumn("Total Errors")/>
        <RadzenDataGridColumn TItem="GetTestErrorsWithFilterSingleLine" Frozen="true" Property="TotalTests" Title="Total Tests" Visible=@ShouldShowColumn("Total Tests")/>
        @foreach (var errorCode in TestErrors.PossibleErrorCodes)
        {
            AddColumnToSortingOrderDictionary(errorCode.ErrorCode);
            <RadzenDataGridColumn TItem="GetTestErrorsWithFilterSingleLine" SortOrder="@ErrorColumnsSortingOrder[errorCode.ErrorCode]" Title="@($"Error {errorCode.ErrorCode}")" Visible="@ShouldShowColumn("Error Code")">
                <HeaderTemplate>
                     <div title="@errorCode.ErrorMessage">@($"Error {errorCode.ErrorCode}")</div>
                </HeaderTemplate>
                <Template>
                    @GetItemErrorCount(context, errorCode)
                </Template>
            </RadzenDataGridColumn>
        }
        </Columns>
    </RadzenDataGrid>
}
else
{
    <div>No data available.</div>
}