@page "/ActuatorSearch"
@using Frontend.Components
@inherits ActuatorSearchBase
<h2>Search For Actuator</h2>

<RadzenRow JustifyContent="JustifyContent.SpaceBetween">
    <RadzenTemplateForm TItem="SearchObject" Data="@SearchActuator" Submit="@SearchActuators" Style="width: 90%;">
        <RadzenRow Style="margin-bottom: 32px;" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.End">
            <RadzenRow>        
                <RadzenColumn Size="10">
                    <RadzenRow Style="margin-bottom: 10px; border-bottom: #3a3d41; border-bottom-width: thin; border-bottom-style: solid;">
                        <RadzenText TextStyle="TextStyle.H6" >Actuator Parameters</RadzenText>
                    </RadzenRow>
                    <RadzenRow>
                        <RadzenColumn>
                            <RadzenLabel Text="Workorder Number"/>
                            <RadzenNumeric ShowUpDown="false" Name="WorkOrderNumber" @bind-Value=@SearchActuator.WorkOrderNumber class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Serial Number"/>
                            <RadzenNumeric ShowUpDown="false" Name="SerialNumber" @bind-Value=@SearchActuator.SerialNumber class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Article Name"/>
                            <RadzenTextBox Name="ArticleName" @bind-Value=@SearchActuator.ArticleName class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Article Number"/>
                            <RadzenTextBox Name="ArticleNumber" @bind-Value=@SearchActuator.ArticleNumber class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Communication Protocol"/>
                            <RadzenTextBox Name="CommunicationProtocol" @bind-Value=@SearchActuator.CommunicationProtocol class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Created Date Start"/>
                            <RadzenDatePicker ShowSeconds="false" ShowTime="true" DateFormat="yyyy/MM/dd/HH" Name="ProductionDateCode" @bind-Value=@SearchActuator.CreatedTimeStart class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Created Date End"/>
                            <RadzenDatePicker ShowSeconds="false" ShowTime="true" DateFormat="yyyy/MM/dd/HH" Name="ProductionDateCode" @bind-Value=@SearchActuator.CreatedTimeEnd class="w-100"/>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenColumn>
                </RadzenRow>  
            <RadzenRow>
                <RadzenColumn Size="10">
                    <RadzenRow Style="margin-bottom: 10px; border-bottom: #3a3d41; border-bottom-width: thin; border-bottom-style: solid;">
                        <RadzenText TextStyle="TextStyle.H6" >PCBA Parameters</RadzenText>
                    </RadzenRow>
                    <RadzenRow>
                        <RadzenColumn >
                            <RadzenLabel Text="Uid"/>
                            <RadzenTextBox Name="Uid" @bind-Value="@SearchActuator.PCBAUid" class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Item Number"/>
                            <RadzenTextBox Name="ItemNumber" @bind-Value=@SearchActuator.PCBAItemNumber class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Manufacturer Number"/>
                            <RadzenNumeric ShowUpDown="false" Name="ManufacturerNumber" @bind-Value=@SearchActuator.PCBAManufacturerNumber class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Production Date Code"/>
                            <RadzenNumeric ShowUpDown="false" Name="ProductionDateCode" @bind-Value=@SearchActuator.PCBAProductionDateCode class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Software"/>
                            <RadzenTextBox Name="Software" @bind-Value=@SearchActuator.PCBASoftware class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Configuration Number"/>
                            <RadzenNumeric ShowUpDown="false" Name="ConfigNo" @bind-Value=@SearchActuator.PCBAConfigNumber class="w-100"/>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenColumn>
                </RadzenRow>
        </RadzenRow>
        <RadzenRow >
            <RadzenButton ButtonType="ButtonType.Submit" Text="Search"/>
        </RadzenRow>
    </RadzenTemplateForm>
</RadzenRow>

<ActuatorTable Actuators="@actuators" OnColumnsUpdated="OnColumnsUpdated" OnActuatorSelected="@ShowActuatorDetails" OnDownloadSelected="@DownloadActuators"/>