@page "/PCBAInfo"
@using Frontend.Entities
@using Frontend.Components
@inherits PCBAInfoBase
<h3>PCBA Information</h3>

<RadzenRow>
    <RadzenTemplateForm TItem="Actuator" Data=@actuator Submit=@SearchActuator>
        <RadzenRow>
            <RadzenColumn>
                <WorkOrderNumberInputValidator Actuator="@actuator"/>
            </RadzenColumn>
            <RadzenColumn>
                <SerialNumberInputValidator Actuator="@actuator"/>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenButton ButtonType="ButtonType.Submit" Text="Search" Icon="search" Style="margin-top: 25px;"/>
            </RadzenColumn>
        </RadzenRow>
    </RadzenTemplateForm>
</RadzenRow>

<RadzenRow>
    
     @if (searchPerfomed)
     {

         @if (!string.IsNullOrEmpty(actuator.PCBA.PCBAUid))
         {
             <RadzenCard Style="max-width: 600px; margin-top: 30px;">
                 <div><span Style="font-weight: bold;">Work Order Number:</span> @actuator.WorkOrderNumber</div>
                 <div><span Style="font-weight: bold;">Serial Number:</span> @actuator.SerialNumber</div>
                 <div><span Style="font-weight: bold;">PCBA UID:</span> @actuator.PCBA.PCBAUid</div>
                 <div><span Style="font-weight: bold;">Manufacturer Number:</span> @actuator.PCBA.ManufacturerNumber</div>
             </RadzenCard>
         }
         else
         {
             <RadzenLabel Text="No PCBA details available" Style="margin-top: 30px;"/>

         }
     }

</RadzenRow>
