@page "/PCBAInfo"
@using Frontend.Entities
@using Frontend.Components
@inherits PCBAInfoBase
<h3>PCBAInfo</h3>

<RadzenRow>
    <RadzenTemplateForm TItem="Actuator" Data=@actuator Submit=@SearchActuator>
        <RadzenRow>
            <RadzenColumn>
               <WorkOrderNumberInputValidator Actuator="@actuator"/>
            </RadzenColumn>
            <RadzenColumn>
               <SerialNumberInputValidator Actuator="@actuator"/>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenButton ButtonType="ButtonType.Submit" Text="Search"></RadzenButton>
            </RadzenColumn>
        </RadzenRow>
    </RadzenTemplateForm>
</RadzenRow>

<RadzenRow>
    
    @if (actuator.PCBA.PCBAUid > 0 )
    {
        <RadzenCard Style="max-width: 420px; margin-top: 30px">
            <RadzenText>WO: @actuator.WorkOrderNumber</RadzenText>
            <RadzenText>Serial: @actuator.SerialNumber</RadzenText>
            <RadzenText>PCBAUid: @actuator.PCBA.PCBAUid</RadzenText>
        </RadzenCard>
    }
</RadzenRow>