@page "/TestErrors"
<h3>Test Errors</h3>
@using Frontend.Components
@inherits TestErrorsBase

<RadzenRow JustifyContent="JustifyContent.SpaceBetween">
    <RadzenTemplateForm TItem="SearchObject" Data="@SearchTestError" Submit="@SearchTestErrors" Style="width: 90%;">
        <RadzenRow Style="margin-bottom: 32px;" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.End">
            <RadzenRow>
                <RadzenColumn Size="10">
                    <RadzenRow Style="margin-bottom: 10px; border-bottom: #3a3d41; border-bottom-width: thin; border-bottom-style: solid;">
                        <RadzenText TextStyle="TextStyle.H6">Test Parameters</RadzenText>
                    </RadzenRow>
                    <RadzenRow>
                        <RadzenColumn>
                            <RadzenLabel Text="WorkOrderNumber"/>
                            <RadzenNumeric ShowUpDown="false" style="display: block" Name="WorkOrderNumber" @bind-Value=@SearchTestError.WorkOrderNumber class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Tester"/>
                            <RadzenTextBox ShowUpDown="false" style="display: block" Name="Tester" @bind-Value=@SearchTestError.Tester class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Bay"/>
                            <RadzenNumeric ShowUpDown="false" style="display: block" Name="Bay" @bind-Value=@SearchTestError.Bay class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="ErrorCode"/>
                            <RadzenNumeric ShowUpDown="false" style="display: block" Name="ErrorCode" @bind-Value=@SearchTestError.ErrorCode class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Date Start"/>
                            <RadzenDatePicker ShowSeconds="false" ShowTime="true" DateFormat="yyyy/MM/dd/HH" style="display: block" Name="ProductionDateCode" @bind-Value=@SearchTestError.StartDate class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Date End"/>
                            <RadzenDatePicker ShowSeconds="false" ShowTime="true" DateFormat="yyyy/MM/dd/HH" style="display: block" Name="ProductionDateCode" @bind-Value=@SearchTestError.EndDate class="w-100"/>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenLabel Text="Time Interval"/>
                            <RadzenDropDown Data="@timeIntervalBases"
                                            TValue="string"
                                            Change="OnChange"
                                            @bind-Value="@SelectedTimeIntervalBase"
                                            Style="width:200px"/>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenColumn>
            </RadzenRow>
        </RadzenRow>
        <RadzenRow>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Search"/>
        </RadzenRow>
    </RadzenTemplateForm>
</RadzenRow>

<TestErrorTable TestErrors="@TestErrors" SelectedTimeIntervalBaseTable="@SelectedTimeIntervalBase"/>